<h2>I AM THOR MOZART</h2>

<p>My online pseudonym is Thor Mozart. I am an aspiring professional nerd,</br>
  streamer, and currently learning to code!</p>
</br>
<p>I have a fair coding background and know a decent amount of html, css, js</br>
some ruby, rails, c++, and am now learning python and Django.</p>
</br>
<p>This website was a project on a series of stackskills courses that were severly</br>
  discounted during the 2020 COVID-19 outbreak, which I decided to take advantage</br>
  of in hopes of soon(?) changing careers.</p>
<a href="{% url 'home' %}">Home</a>
